@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a,
a:active {
    text-decoration: none;
    color: white;
}



/*-------HEADER-------*/

.bar-btn {
    font-size: 25px;
    color: #ffffff;
    margin-right: 20px;
    cursor: pointer;

}

.whatsapp {
    position: fixed;
    bottom: 10px;
    right: -15px;
    width: 100px;
    z-index: 1;
}

.whatsapp:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.df-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.df-logo {
    height: 120px;
    margin: 15px;
}

.df-logo:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.df-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.df-ul li {
    margin: 40px 40px;
    list-style: none;
    display: inline-block;
    position: relative;
}


.df-ul li:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.df-ul li::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
}

/*-------FIN DE HEADER-------*/


/*-------INDEX-------*/

.intro {
    background-image: url(../media/bannerhome-1-1-1-1.png);
    height: 600px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #000;
    text-align: center;
    color: #ffffff;
    text-shadow: black 5px 4px 4px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buscador {
    display: flex;
    justify-content: center;
}

.buscador input {
    margin-top: 50px;
    width: 400px;
    height: 25px;
}

.buscador button {
    width: 50px;
    height: 25px;
    margin-top: 50px;
    margin-left: 10px;
}

/*-------FIN DE INDEX-------*/



/*-------PAGE MENU-------*/

.menubanner {
    background-image: url(../media/bannermenu8-SIN-TINY.png);
    height: 300px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.menubanner h2 {
    text-shadow: gray 5px 4px 4px;
    padding: 100px;
    text-align: left;
    font-size: 80px;
}

.menuburgas {
    height: 100%;
    background-color: #000;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.burga-ind:hover {
    transform: scale(1.04);
    transition: all 0.5s ease;
}

.burgas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 20px;
}

.burgas div img {
    width: 250px;
    height: 200px;
    margin: 15px;
    border-radius: 10px;
}

.burgas div p {
    text-align: center;
    color: black;
    margin: 10px;
}

.menuburgas .burgas div {
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
}

/*-------FIN DE PAGE MENU-------*/


/*-------PAGE CONTACTO-------*/

.contact-banner {
    background-image: url(../media/fondo-banner-pagina-1.png);
    height: 300px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.contact-banner h2 {
    text-shadow: gray 5px 4px 4px;
    padding: 100px;
    text-align: center;
    font-size: 50px;
}

.contact-general {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boton-contacto {
    background-color: rgb(170, 165, 166);
    padding: 15px 15px;
    margin: 10px;
    border-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    width: 250px;
    margin: 60px;
    text-align: center;
}

.boton-contacto:hover {
    background-color: rgb(209, 202, 104);
}

.card-index {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-card {
    background-color: white;
    color: black;
    padding: 9px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 320px;
}

.w-img {
    width: 320px;
}

.border-card {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.boton-card {
    background-color: rgb(170, 165, 166);
    padding: 15px 15px;
    margin: 10px;
    border-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

.boton-card:hover {
    background-color: rgb(209, 202, 104);
}

form {
    margin: 0 auto;
    width: 320px;
    background-color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
}

input,
textarea {
    outline: none;
    border: 0;
    width: 280px;
}

.msj {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.field {
    border: solid 1px #ccc;
    padding: 10px;
    margin: 5px;
}

.field:focus {
    border-color: rgb(83, 80, 80);
}

.btn {
    border-radius: 10px;
    display: inline-block;
    border-color: transparent;
    border-color: transparent;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0 1px 0 rbga(255, 255, 255, 0.3);
    text-align: center;
    width: 100px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.btn-green {
    color: white;
    background-color: rgb(170, 165, 166);
}

.btn-green:hover {
    background-color: rgb(209, 202, 104);
}

.btn-green:active {
    background-color: rgb(218, 218, 165);
}

/*-------FIN PAGE CONTACTO-------*/


/*-------PAGE PEDIDOS-------*/

.pedidos-banner {
    background-image: url(../media/IMG_3984.JPG);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.pedidos-banner h2 {
    text-shadow: gray 5px 4px 4px;
    padding: 100px;
    text-align: center;
    font-size: 80px;
}

/*-------FIN PAGE PEDIDOS-------*/



/*-------PAGE SUCURSALES-------*/

.sucursales {
    display: flex;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.suc h2 {
    display: flex;
    padding: 10px 0;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.sucursales .suc {
    padding: 10px;
}


/*-------FIN PAGE SUCURSALES-------*/


/*-------FIN DE MAIN-------*/





/*-------FOOTER-------*/

.bg-footer {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.type-footer {
    color: white;
}

.redes a i {
    font-size: 30px;
    text-align: center;
    padding: 5px 10px;
}

.redes a i:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
}

/*-------FIN DE FOOTER-------*/

@media screen and (max-width: 1400px) {

    /* INICIO MENU */

    .burgas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }

    .bg-footer {
        flex-direction: column;
    }

    .df-header {
        flex-direction: row;
        position: relative;
    }

    .df-ul {
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .whatsapp {
        z-index: 2;
    }

    /* FIN MENU */

}

@media screen and (max-width: 1024px) {

    /* INICIO MENU */

    .burgas {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .bg-footer {
        flex-direction: column;
    }

    .df-header {
        flex-direction: row;
        position: relative;
    }

    .df-ul {
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .whatsapp {
        z-index: 2;
    }

    /* FIN MENU */

    /* INICIO SUCURSALES */

    .bg-footer {
        flex-direction: column;
    }

    .df-header {
        flex-direction: column;
        position: relative;
    }

    .df-ul {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .df-ul li {
        margin: 30px;
    }

    .navbar {
        padding: 0;
    }

    .whatsapp {
        z-index: 2;
    }

    .sucursales {
        flex-direction: column;
    }

    .suc iframe {
        width: 100%;
    }

    .suc h2 {
        text-align: center;
    }

    /* FIN SUCURSALES */

}

@media screen and (max-width: 768px) {

    /* INICIO MENU */

    .burgas {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .bg-footer {
        flex-direction: column;
    }

    .df-header {
        flex-direction: column;
        position: relative;
    }

    .df-ul {
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .whatsapp {
        z-index: 2;
    }

    /* FIN MENU */


    /* INICIO SUCURSALES */

    .bg-footer {
        flex-direction: column;
    }

    .df-header {
        flex-direction: column;
        position: relative;
    }

    .df-ul {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .df-ul li {
        margin: 30px;
    }

    .navbar {
        padding: 0;
    }

    .whatsapp {
        z-index: 2;
    }

    .sucursales {
        flex-direction: column;
    }

    .suc iframe {
        width: 100%;
    }

    .suc h2 {
        text-align: center;
    }

    /* FIN SUCURSALES */

}

@media screen and (max-width: 480px) {

    /* INICIO MENU */


    .bg-footer {
        flex-direction: column;
    }

    .burga-ind {
        width: 75%;
    }

    .df-header {
        flex-direction: column;
        position: relative;
    }

    .df-ul {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .df-ul li {
        margin: 20px;
    }

    .navbar {
        padding: 0;
    }

    .whatsapp {
        z-index: 2;
    }

    /* FIN MENU */

    /* INICIO SUCURSALES */

    .bg-footer {
        flex-direction: column;
    }

    .df-header {
        flex-direction: column;
        position: relative;
    }

    .df-ul {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .df-ul li {
        margin: 20px;
    }

    .navbar {
        padding: 0;
    }

    .whatsapp {
        z-index: 2;
    }

    .sucursales {
        flex-direction: column;
    }

    .suc iframe {
        width: 100%;
    }

    .suc h2 {
        text-align: center;
    }

    /* FIN SUCURSALES */

}